pytz~=2025.2
aiogram~=3.19.0
APScheduler~=3.11.0
requests~=2.32.3
pillow~=11.1.0
selenium~=4.31.0
webdriver-manager~=4.0.2
SQLAlchemy~=2.0.40
aiohttp~=3.11.16
opencv-python~=4.11.0.86
pytesseract~=0.3.13
numpy~=2.2.2
asyncpg
PIL